<h1>Notengodinero</h1>
<br>
<% if user_signed_in? %>
    <%= current_user.email %> <br>
    <%= @user_location_country %> <br>
    <%= @user_location_city %> <br>
    <%= @user_location_longitude %> <br>
    <%= @user_location_latitude %> <br>
    <%= @user_ip %> <br>
    <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?center=#{@user_location_latitude},#{@user_location_longitude}&zoom=16&size=400x400&key=AIzaSyA6nZL7hRFHgoBpO0rayEWSsSNeU2l8-QY" %>
<% end %>