<h1>Notengodinero</h1>
<br>
<% if user_signed_in? %>
    <%= current_user.email %>
    <%= @user_location_country %>
    <%= @user_location_city %>
    <%= @user_location_longitude %>
    <%= @user_location_latitude %>
    <%= @user_ip %>
<% end %>