<h1>Notengodinero</h1>
<br>
<% if user_signed_in? %>
    <%= current_user.email %>
    <%= @user_location_country %> <br>
    <%= @user_location_city %> <br>
    <%= @user_location_longitude %> <br>
    <%= @user_location_latitude %> <br>
    <%= @user_ip %>
<% end %>